<div layout="column" layout-align="center center">
  <md-card>
    <md-card-content>
      <form name="signUpForm" layout="column" layout-align="start stretch">
        <h2>Create a new restaurant account</h2>
        <md-input-container>
          <label>Restaurant name</label>
          <input name="name" ng-model="restaurant.name" required>
          <div ng-messages="signUpForm.name.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Restaurant description</label>
          <input name="description" max="500" ng-model="restaurant.description">
        </md-input-container>
        <md-input-container>
          <label>Opening time</label>
          <input name="openingFrom" ng-model="restaurant.openingFrom" type="time" required>
          <div ng-messages="signUpForm.openingFrom.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Closing time</label>
          <input name="openingTo" ng-model="restaurant.openingTo" type="time" required>
          <div ng-messages="signUpForm.openingTo.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input name="email" ng-model="restaurant.email" type="email" required>
          <div ng-messages="signUpForm.email.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Restaurant website</label>
          <input name="website" ng-model="restaurant.website" required>
          <div ng-messages="signUpForm.website.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Restaurant address</label>
          <input name="address" ng-model="restaurant.address" required>
          <div ng-messages="signUpForm.address.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>login username</label>
          <input name="username" ng-model="restaurant.username" required>
          <div ng-messages="signUpForm.username.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input name="password" type="password" ng-model="restaurant.password" required>
          <div ng-messages="signUpForm.password.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>confirm password</label>
          <input type="password" name="passwordConfirmation" ng-keyup="confirmationKeyUp($event.target.value)">
        </md-input-container>
        <div layout="row" layout-align="end center">
          <md-button ng-disabled="(confirmed !== 1) || !signUpForm.$valid" class="md-primary" ng-click="submitSignup()" type="submit">
            Create your restaurant
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
