<md-card>
  <mat-card-content>
    <form name="loginForm" layout="column" layout-align="start stretch">
      <md-input-container>
        <label>login username</label>
        <input name="username" ng-model="restaurant.username" required>
        <div ng-messages="loginForm.username.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="restaurant.password" required>
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <label class="error">{{error}}</label>
      <div layout="row" layout-align="end center">
        <md-button ng-disabled="!loginForm.$valid" class="md-primary" ng-click="login()" type="submit">
          Login
        </md-button>
      </div>
    </form>
  </mat-card-content>
</md-card>
