<div layout="column" layout-align="start stretch">
  <div layout="row" layout-align="space-between center">
  <h2>Welcome to your shop</h2>
   <md-button class="md-primary" ng-click="showAddForm = !showAddForm">
     {{showAddForm ? 'Cancel' : 'add new Item'}}
   </md-button>
  </div>
  <form name="itemForm" ng-if="showAddForm" layout="column" layout-align="start stretch">
    <h2>Create a new restaurant account</h2>
    <md-input-container>
      <label>Item name</label>
      <input name="name" ng-model="item.name" required>
      <div ng-messages="itemForm.name.$error">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Item description</label>
      <input name="description" maxlength="500" ng-model="item.description" required>
      <div ng-messages="itemForm.description.$error">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>item price</label>
      <input name="price" ng-model="item.price" type="number" step="0.01" min="0" required>
      <div ng-messages="itemForm.price.$error">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>
    <md-button
      class="md-primary"
      type="submit"
      ng-disabled="itemForm.$invalid"
      ng-click="submitItem()"
    >
      Add
    </md-button>
  </form>
  <div layout-wrap="wrap" layout="row" layout-align="center stretch">
    <md-card ng-repeat="item in items">
      <md-card-content>
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
      <label class="price">{{item.price | currency}}</label>
      </md-card-content>
      <md-card-action>
        <md-button ng-click="deleteItem(item.id)" class="md-icon-button md-warn">
          <md-tooltip>delete request</md-tooltip>
          <md-icon>
            delete_forever
          </md-icon>
        </md-button>
      </md-card-action>
    </md-card>
  </div>
</div>
