<div layout="row" layout-align="end center">
  <md-button ui-sref="login" class="md-primary">Login</md-button>
  <md-button ui-sref="signUp" class="md-primary">Subscribe</md-button>
</div>
<div layout="row" layout-align="space-between start">

  <md-card flex="30">
    <md-card-content layout="column" layput-align="center center">
      <md-progress-circular
        class="md-accent md-hue-1"
        md-diameter="60"
        ng-if="!restaurantsLoaded"
      >
      </md-progress-circular>
      <div ng-if="restaurantsLoaded"  layout="column" layout-align="start stretch">
        <md-checkbox
          ng-repeat="res in restaurants"
          ng-if="res.is_active"
          ng-model="selected[res.id]"
          ng-change="checked()"
        >
          {{res.name}}
        </md-checkbox>
      </div>
    </md-card-content>
  </md-card>
  <div flex="65" layout-wrap="wrap" layout="row" layout-align="center stretch">
    <div ng-if="!itemsLoaded" layout="column" layout-align="center center">
      <md-progress-circular
        class="md-accent md-hue-1"
        md-diameter="60"
      >
      </md-progress-circular>
    </div>
    <div ng-if="itemsLoaded" layout-wrap="wrap" layout="row" layout-align="center stretch">
      <md-card  ng-repeat="item in items">
        <md-card-content>
          <h3>{{item.name}}</h3>
          <p>{{item.description}}</p>
          <label class="price">{{item.price | currency}}</label>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
