<div layout="row" layout-align="start start" layout-wrap="wrap">
  <md-card flex-lt-md="100" flex-gt-md="45" x-gt="" ng-repeat="restaurant in restaurants">
    <md-card-content>
      <h3>{{restaurant.name}}</h3>
      <p>{{restaurant.description}}</p>
    </md-card-content>
    <md-card-action>
      <div layout="row" layout-align="space-between center">
        <md-button ng-disabled="restaurant.is_active" ng-click="accept(restaurant)" class="md-icon-button md-primary">
          <md-tooltip>{{restaurant.is_active ? 'already accepted' : 'Accept request'}}</md-tooltip>
          <md-icon>
            check_circle
          </md-icon>
        </md-button>
        <md-button ng-click="refuse(restaurant.id)" class="md-icon-button md-warn">
          <md-tooltip>delete request</md-tooltip>
          <md-icon>
            delete_forever
          </md-icon>
        </md-button>
      </div>
    </md-card-action>
  </md-card>
</div>
